/* ---------- Import des fonts ---------- */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600&display=swap');

/* ---------- Variables générales ---------- */
html {
    --main-color-back: #293144;
    --main-color-bis: #2C3E56;
    --color-grey : #6a7a91;
    --red-color: #e71a39;
    --orange-color: #FF5935;
    --text-color: rgb(238, 238, 238);
    --main-font: 'Raleway', sans-serif;
    --second-font: 'Josefin Sans', sans-serif;
    /* --paragraph-font: 'Titillium Web', sans-serif; */

    scroll-behavior: smooth;

    /* Rouge principal (avant) : #fe3233 */
    /* Autre rouge pas mal : rgb(216, 76, 76) / #db3f40 / #db3f3f / */
}

/* ---------- CORPS DE LA PAGE ---------- */
body {
    margin: 0;
    padding: 0;
    
    /** Temporaire **/
    height: 2000px; 
    /* padding: 20px 80px; */
}

/* ---------- HEADER ---------- */
header {
    width: 100%;
    height: 10vh;
    background-color: var(--main-color-back);
    /* border: 2px solid red; */
}

/* ----- MENU DE NAVIGATION ----- */
nav {
    display: flex;
    flex-direction: row;
}

nav #box-hamburger {
    position: fixed;
    right: 0;
    margin: 10px 20px 0 0;
}

/* Onglet menu */
#menu {
    position: fixed;
    z-index: 4;
    width: 50%;
    height: 100vh;
    background-color: var(--main-color-bis);
    /* Anim */
    transform: translateX(-101%);
    transition: transform 1s ease-in-out;
}

#container-liens img {
    width: 70px;
    height: auto;
}

#container-liens {
    display: flex;
    flex-direction: column;
    margin: 50px 0 0 50px;
}

#container-liens a {
    margin-top: 50px;
    text-decoration: none;
    /* text */
    font-family: var(--main-font);
    font-size: 1.3em;
    font-weight: 500;
    color: var(--text-color);
    /* anim */
    transform: translateX(0px);
    transition: transform 0.2s ease-in-out;
}

#container-liens a:hover {
    cursor: pointer;
    /* anim */
    transform: translateX(20px);
    transition: transform 0.2s ease-in-out;
}

/* Traits en dessous des liens */
.trait {
    width: 50%;
    height: 3px;
    margin-top: 5px;
    /* background-color: white; */
    opacity: 0;
    transform: translateX(100%);
    transition: transform 0.2s ease-in-out;
}

/* Anim apparition menu */
#menu.visible {
    display: flex;
    transform: translateX(0);
    transition: transform 1s ease-in-out;
}

/* Anim trait lien */
.lien-actif + .trait {
    background-color: var(--red-color) ;
    opacity: 1;
    transform: translateX(25%);
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

/* ----- Bouton menu ----- */
#box-hamburger {
    width: 50px;
    height: 50px;
    border: none;
    position: relative;
    background-color: #29314400;   
    cursor: pointer;
}

#container-lignes {
    width: 80%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.ligne {
    position: absolute;
    border-radius: 10px;
    width: 100%;
    height: 15%;
    background: rgb(255, 255, 255);
}

#box-hamburger .ligne:nth-child(1) {
    top: 0;
}

#box-hamburger .ligne:nth-child(2) {
    top: 42%;
}

#box-hamburger .ligne:nth-child(3) {
    top: 85%;
}

/* Anim menu burger */
#box-hamburger #container-lignes {
    transition: transform 0.4s ease-in-out;
}

#box-hamburger.active #container-lignes {
    transition: transform 0.4s 0.4s ease-in-out;
    transform: translate(-50%, -50%) rotate(360deg);
}

#box-hamburger .ligne:nth-child(1), .ligne:nth-child(3) {
    transform: rotate(0deg);
    transition: 
        transform 0.4s ease-in-out,
        top 0.4s 0.4s ease-in-out;
}

#box-hamburger .ligne:nth-child(2) {
    transition: opacity 0.4s 0.4s ease-in-out;
}

#box-hamburger.active .ligne:nth-child(1) {
    top: 42.5%;
    transform: rotate(45deg);
    transition: 
        top 0.4s ease-in-out,
        transform 0.4s 0.4s ease-in-out;
}

#box-hamburger.active .ligne:nth-child(2) {
    transition: opacity 0.4s ease-in-out;
    opacity: 0;
}

#box-hamburger.active .ligne:nth-child(3) {
    top: 42.5%;
    transform: rotate(-45deg);
    transition: 
        top 0.4s ease-in-out,
        transform 0.4s 0.4s ease-in-out;
}

/* ---------- HOME ---------- */

#home {
    margin-top: -10vh;
    width: 100%;
    height: 100vh;
    background-color: var(--main-color-back);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 2px solid green; */
}

#container-brand {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Texte */
#texte {
    z-index: 1;
    text-align: center;
    color: var(--text-color);
}

h1 {
    opacity: 0;
    margin-bottom: 20px;
    font-size: 1.25em;
    font-weight: 300;
    font-family: var(--second-font);
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Anim titre */
h1.visible {
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
    transition-delay: 0.5s;
}

h2 {
    margin-top: 40px;
    color: rgb(218, 218, 218);
    font-family: var(--second-font);
    font-size: 1.7em;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#logo {
    z-index: -1;
    position: absolute;
    transform: translateY(-235px);
    /* border: 3px solid white; */
}

/* Forme */
#logo svg {
    width: 400px;
    height: 460px;
    background: transparent;
}

circle {
    cy: 550; /* axe horizontal */
    opacity: 0;
    transition: cy 1s ease-in-out, opacity 1.5s ease-in-out; 
}

circle.visible {
    fill: var(--red-color);
    cx: 200; /* axe vertical */
    cy: 440;  /* axe horizontal */
    r: 130; /* rayon */
    opacity: 1;
}

#vagues {
    display: flex;
    flex-direction: column;
}

#vagues img {
    width: 110px;
    height: auto;
    opacity: 1;
}

#vagues.visible img:nth-child(1) {
    animation: blinkopacity 1.5s infinite;
}


#vagues.visible  img:nth-child(2) {
    animation: blinkopacity 2s infinite;
}

#vagues.visible  img:nth-child(3) {
    animation: blinkopacity 1.7s infinite;
}

@keyframes blinkopacity {
    0% {} 
    50% {
        opacity: 0.4;
    }
}

/* --- Overlay Nuages --- */
#cloud-box img {
    z-index: 2;
    position: absolute;
    opacity: 85%;
}

/* Nuage 1 */
#cloud-box img:nth-child(1) {
    width: 80px;
    height: auto;
    top: 12%;
    left: 8%;
    animation: bounce1 4s ease infinite;
    animation-delay: 0.5s;
}

@keyframes bounce1 {
    from {top: 12%;}
    50%  {top: 10.5%;}
    to   {top: 12%;}
}

/* Nuage 2 */
#cloud-box img:nth-child(2) {
    width: 55px;
    height: auto;
    top: 25%;
    left: 22%;
    animation: bounce2 5s ease infinite;
    animation-delay: 1s;
}

@keyframes bounce2 {
    from {top: 25%;}
    50%  {top: 23%;}
    to   {top: 25%;}
}

/* Nuage 3 */
#cloud-box img:nth-child(3) {
    width: 90px;
    height: auto;
    top: 7%;
    left: 36%;
    animation: bounce3 4s ease infinite;
    animation-delay: 1.5s;
}

@keyframes bounce3 {
    from {top: 7%;}
    50%  {top: 8.5%;}
    to   {top: 7%;}
}

/* Nuage 4 */
#cloud-box img:nth-child(4) {
    width: 60px;
    height: auto;
    top: 25%;
    left: 65%;
    animation: bounce4 4s ease infinite;
    animation-delay: 0.5s;
}

@keyframes bounce4 {
    from {top: 25%;}
    50%  {top: 26.5%;}
    to   {top: 25%;}
}

/* Nuage 5 */
#cloud-box img:nth-child(5) {
    width: 65px;
    height: auto;
    top: 5%;
    left: 74%;
    animation: bounce5 4s ease infinite;
    animation-delay: 0.5s;
}

@keyframes bounce5 {
    from {top: 6%;}
    50%  {top: 4.5%;}
    to   {top: 6%;}
}

/* Nuage 6 */
#cloud-box img:nth-child(6) {
    width: 75px;
    height: auto;
    top: 15%;
    left: 84%;
    animation: bounce6 5s ease infinite;
    animation-delay: 2s;
}

@keyframes bounce6 {
    from {top: 15%;}
    50%  {top: 16.5%;}
    to   {top: 15%;}
}

/* Séparation home vague */
#separate-home {
    width: 100%;
    height: auto;
    /* border: 2px solid red; */
    margin: -25px 0 -10% 0;
}

/* ---------- A PROPOS ---------- */
#a-propos {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 2px solid red; */
}

#a-propos h3 {
    text-align: center;
    font-family: var(--main-font);
    color: var(--main-color-bis);
    font-size: 1.6em;
    font-weight: 500;
}

.trait-titre {
    width: 70px;
    height: 4px;
    margin-top: -10px;
    border-radius: 10px;
    background-color: var(--red-color);
}

#container-texte-about {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#a-propos p {
    width: 50%;
    margin-bottom: 30px;
    text-align: justify;
    font-family: var(--main-font);
    color: var(--main-color-bis);
    font-size: 1.3em;
    font-weight: 300;
}
